

<main class="container">
  <div class="jumbotron">
  <div class="row">
    <div class="col-md-5 col-xs-12">
      <img src="./assets/img/background2.jpg" alt="tate" class="img-rounded">
    </div>
    <div class="col-md-7 col-xs-12">
  <h1><strong>Riverdale Burger Eating Contest</strong></h1> </div>
  </div>
</div>

  <div class="container" id="body">
    <div class="row">
      <div class="col-md-5 col-xs-12">
        <h4>Available Burgers</h4>
        {{#each result}}
          {{#unless this.devoured}}
            <div>
              <form action="/{{this.id}}?_method=PUT" method="POST">
                <button type="submit" class='burgerCurrent'> {{this.burger_name}}</button>
              </form>
            </div>
          {{/unless}}
        {{/each}}
      </div>



  <div class="col-md-2 col-xs-12">
    <h4>Add A Burger</h4>
    <form action="/add" method="POST">
      <input type="text" id="name" name="burger_name" placeholder="New Burger">
      <button type="submit" class="addBurgerButton">Add Burger</button>
    </form>
  </div>

        <div class="col-md-4 col-xs-12">
          <h4>Burgers Eaten</h4>
        {{#each result}}
          {{#if this.devoured}}
            <div class='burgerEaten'>
              <div>
                {{this.burger_name}}
              </div>
            </div>
          {{/if}}
        {{/each}}
        </div>
      </div>
    </div> 
</main>